/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
  body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }
  
  a {
    color: #149ddd;
    text-decoration: none;
  } 
  
  a:hover {
    color: #37b3ed;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
/*--------------------------------------------------------------
  # Header
--------------------------------------------------------------*/
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
    border-radius: 50%;
    margin-top: 30px;
  }
  
  #header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
  }
  
  #header .profile h1 a, #header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
  }

  .social-links{
    margin-left: 75px;
  }

  .social-links-img{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-left: 5px;
  }

  @media (max-width: 1109px) {
    #header{
      display: none;
    }
  }

  @media (max-width: 767px) {
    #header{
      display: none;
    }
  }
/*--------------------------------------------------------------
  # Main
--------------------------------------------------------------*/
  #main {
    margin-left: 300px;
  }

  @media (max-width: 1109px){
    #main {
      margin-left: 10px;
    }
  }

  @media (max-width: 767px){
    #main {
      margin-left: 10px;
    }
  }
/*--------------------------------------------------------------
  # Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
  .nav-menu {
    padding-top: 30px;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    text-decoration: none;
    margin-left: 30px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    text-decoration: none;
    color: #fff;
  }
/*--------------------------------------------------------------
# My profile Section
--------------------------------------------------------------*/
  #imgSection {
    width: 100%;
    height: 100vh;
    background: url("images/timelineImage.JPG") top center;
    background-size: cover;
  }
  
  #imgSection:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #imgSection .imgSection-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #imgSection h1 {
    position: absolute;
    right: 200px;
    top: 300px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #imgSection p {
    position: absolute;
    right: 200px;
    top: 390px;
    color: #fff;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }

  @media (min-width: 1024px) {
    #imgSection {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 1109px) {
    #imgSection h1 {
      font-size: 40px;
    }
    #imgSection p {
      top:370px;
      font-size: 20px;
    }
  }

  @media (max-width: 767px) {
    #imgSection h1{
      font-size: 40px;
      right: 50px;
    }
    #imgSection p {
      top:370px;
      right: 50px;
      font-size: 20px;
    }
  }
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
  .section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: #f5f8fd;
  }
  
  .section-title {
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 130px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #149ddd;
    bottom: 0;
    left: 0;
  }
  
  .section-title p {
    margin-bottom: 0;
    text-align: justify;
  }

  @media (max-width: 1109px){
    .section{
      padding:5px 0;
    }
    .section-title{
      margin-left: 0px;
      margin-right: 0px;
    }
    .section-title h2 {
      font-size: 25px;
    }
  }

  @media (max-width: 767px){
    .section{
      padding:5px 0;
    }
    .section-title{
      margin-left: 0px;
      margin-right: 0px;
    }
    .section-title h2 {
      font-size: 25px;
    }
  }
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
  #AboutImg{
    float:left;
    margin-left: 50px;
    margin-right: 40px;
    height: 380px;
    width: 250px;
  } 

  .Details-section-p1{
    margin-left: 100px;
    margin-right: 10px;
  }

  .Details-section-p1 h3{
    font-weight: 700;
    font-size: 26px;
    margin-top: 0;
    color: #173b6c;
  }

  .details-list ul {
    list-style: none;
    padding: 0;
  }

  .details-list ul li{
    padding-bottom: 10px;
  }

  .Details-section-p2{
    margin-bottom: 0;
    text-align: justify;
    margin-left: 50px;
    margin-right: 10px;
  }

  @media (max-width: 1109px){
  #AboutImg{
    margin-left: 10px;
    margin-right: 20px;
    height: 220px;
    width: 140px;
  }
  .Details-section-p1 h3{
    font-weight: 700;
    font-size: 20px;
  }
  .Details-section-p2{
    text-align: justify;
    margin-left: 10px;
  }
  }
/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
  .resumecontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .education-div{
    position: relative;
    left: 50px;
    width: 430px;
  }

  .expreience-div{
  position: absolute;
  left: 900px;
  top: 1635px;
  width: 430px;
  }

  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 1px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 1px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
    text-align: justify;

  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
  }

  @media (max-width: 1109px){
    .expreience-div{
      position: relative;
      left: 100px;
      top: 25px;
    }
  }

  @media (max-width: 767px){
    .education-div{
      position: static;
    }
    .expreience-div{
      position: static;
    }
  }
/*--------------------------------------------------------------
# skills
--------------------------------------------------------------*/
  .skills-container{
  margin-top: 340px;
  }

  .skillslogo
  {
  height: 70px;
  width: 70px;
  margin: 50px;
  }

  @media (max-width: 1109px){
  .skills-container{
    margin-top: 100px;
  }
  }
/*--------------------------------------------------------------
# Work Sample
--------------------------------------------------------------*/
  .projectImage
  {
    width: 300px; 
    height: 200px;
    border-radius: 20px;
  }

  .cardcontainer
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card{
  width: 300px; 
  height: 300px;
  background-color:  #173b6c;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 150px;
  border-radius: 20px;
  color: #fff;
  }

  .card h1{
  text-align: center;
  }
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
  .contact{
  padding-bottom: 30px;
  }

  .contactContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .contact .info {
  padding: 10px;
  background: #fff;
  }

  .contact .info h4 {
  padding: 0 0 0 30px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
  }

  .contact .info p {
  padding: 0 0 10px 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
  }

  .contactDetails{
  margin-left: 55px;
  margin-bottom: 60px;
  height: 520px;
  width: 300px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  float: left;
  }

  .contactform{
  float:right;
  margin-bottom: 60px;
  margin-left: 50px;
  height: 520px;
  width: 630px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }

  .clear:after{
  clear:both;
  }

  .contact .contact-form label{
  font-size: 18px;
  font-weight: 600;
  color: #050d18;
  margin: 10px;
  }

  .contact .contact-form input {
  height: 44px;
  width: 260px;
  margin: 10px;
  }

  .contact .contact-form textarea {
  padding: 10px 15px;
  height: 150px;
  width: 550px;
  margin: 10px;
  }

  .contact .contact-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  text-align: center;
  margin-left: 40%;
  }

  .contact .contact-form button[type="submit"]:hover {
  background: #37b3ed;
  }

  .form-group{
  padding: 10px;
  }

  .form-name{
  display: inline-block;
  }

  .form-email{
  display: inline-block;
  }

    @media (max-width: 1109px){
  .contactDetails{
    margin-left: 5px;
  }
  .contactform{
    height: 520px;
    width: 630px;
  }
  .form-email{
    display: block;
  }
  .contact .contact-form input {
    height: 30px;
    width: 300px;
    margin-bottom: 3px;
  }
  .contact .contact-form textarea {
    height: 100px;
    width: 350px;
    margin-top: 7px;
  }
  .contact .contact-form button[type="submit"]{
    margin-left: 20%;
  }
  }

  @media (max-width: 767px){
  .contactform{
    margin-left: 10px;
    width: 400px;
  }
  .contactDetails{
    height: 320px;
    width: 400px;
  }
  .contact .contact-form textarea {
    height: 100px;
    width: 280px;
    margin-top: 7px;
  }
  .contact .contact-form button[type="submit"]{
    margin-left: 25%;
  }
  }
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
  .back-to-top img{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  }

  #myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  }

  #myBtn:hover {
  border-radius: 50px;
  background-color: gainsboro;
  }